/* Write your CSS here */
.todo-item {
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
/* inner-container{
  background-color:white;
}*/
.delete-btn {
  background-color: #ffffff;
  color: #ff0b37;
  border: 2px solid #ff0b37;
  padding: 10px 15px;
  margin-bottom: 5px;
}
.title {
  color: #000000;
  font-family: 'Roboto';
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 24px;
  }
  .delete-btn {
    font-size: 28px;
    padding: 8px 16px 8px 16px;
    margin-left: 32px;
  }
}
